# requirements.txt

# Training dependencies
jax[cuda12]
jaxlib==0.6.0
-e git+https://github.com/b-vm/ksim@7feee92afc51cfc76d2569d96bb177802415a0a8#egg=ksim
xax
equinox==0.12.2
mujoco-scenes

# Inference dependencies
kinfer[jax]